version: "3.3"

services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - "redis:/data"
    deploy:
      replicas: 1
  web:
    image: rediscommander/redis-commander
    links:
      - "redis:redis"
    ports:
      - "8082:8081"
    environment:
      - "REDIS_HOSTS=local:redis:6379"
    deploy:
      replicas: 1

volumes:
  redis:
