version: "2"

services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - "redis1:/data"
  web:
    image: rediscommander/redis-commander
    links:
      - "redis:redis"
    ports:
      - "8082:8081"
    environment:
      - "REDIS_HOSTS=redis:6379"

volumes:
  redis1:
