version: "3.7"

services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - "./data:/data"
  web:
    image: rediscommander/redis-commander
    links:
      - "redis:redis"
    ports:
      - "8082:8081"
    environment:
      - "REDIS_HOSTS=local:redis:6379"